<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxn.chain.dao.ShopLikeDao">
    <insert id="saveShopLike" parameterType="com.zxn.chain.entity.ShopLikeDB">
        insert into shop_like(id,shop_id,member_id,state,update_time)
        values (#{id},#{shopId},#{memberId},#{state},#{updateTime})
    </insert>

    <delete id="delShopLikeCount">
        delete from shop_like_count;
    </delete>

    <insert id="saveShopLikeCount" parameterType="com.zxn.chain.entity.ShopLikeCountDB">
        insert into shop_like_count(shop_id,liked_count)(
            select shop_id,count(1) liked_count from shop_like where state = 1 group by shop_id order by liked_count desc);
    </insert>
    <select id="selectShopCountLike" resultType="java.lang.Integer">
        select liked_count from shop_like_count where shop_id = #{id};
    </select>
</mapper>