<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxn.chain.dao.ShopCartDao">
    <insert id="saveShopCart" parameterType="com.zxn.chain.entity.ShopCart">
        insert into shop_cart (id,member_id,member_name,shop_num,shop_name,shop_quantity,member_tel,money,create_time,picture)
        values (#{id},#{memberId},#{memberName}, #{shopNum}, #{shopName},#{shopQuantity},#{memberTel},#{money},#{createTime},#{picture});
    </insert>
    <select id="queryShopById" resultType="com.zxn.chain.entity.ShopCart">
        select * from shop_cart
        where member_id = #{memberId} and shop_num = #{shopNum};
    </select>
    <update id="updateShopCartById" parameterType="com.zxn.chain.entity.ShopCart">
        update shop_cart
        set shop_quantity=#{i},
            money = #{i}*#{sellPrice}
        where member_id = #{memberId} and shop_num = #{shopNum};
    </update>
    <delete id="delShopCartById" parameterType="com.zxn.chain.entity.ShopCart">
        delete from shop_cart where member_id = #{memberId} and shop_num = #{shopNum};
    </delete>
    <delete id="delall" parameterType="com.zxn.chain.entity.ShopCart">
        delete from shop_cart where member_id = #{memberId};
    </delete>
    <select id="queryShopCart" resultType="com.zxn.chain.entity.ShopCart">
        select * from shop_cart where member_id = #{memberId};
    </select>
</mapper>