<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxn.chain.dao.StockDao">
    <update id="removeStock" parameterType="com.zxn.chain.entity.Stock">
        update stock
        set status = 0
        where id = #{id}
    </update>
    <select id="queryStockPage" resultType="com.zxn.chain.dto.StockDto">
        select id,shop_id,shop_category,shop_supplier,shop_base,start_num,sale_num,safety_stock,remarks
        from stock
        <where>
            status = 1
            <if test="shopSupplier != null and shopSupplier!= ''" >
                and shop_supplier = #{shopSupplier}
            </if>
            <if test="shopCategory != null and shopCategory!= ''" >
                and shop_category = #{shopCategory}
            </if>
        </where>
        order by id  limit ${pageNo}, ${pageSize};
    </select>
    <select id="queryStockCount"  resultType="java.lang.Integer">
        select count(*)
        from stock
        <where>
            status = 1
            <if test="shopSupplier != null and shopSupplier!= ''" >
                and shop_supplier = #{shopSupplier}
            </if>
            <if test="shopCategory != null and shopCategory!= ''" >
                and shop_category = #{shopCategory}
            </if>
        </where>
    </select>

    <select id="selectStockById" resultType="com.zxn.chain.dto.StockDto">
        select id,shop_id,shop_category,shop_supplier,shop_base,start_num,sale_num,safety_stock,remarks
        from stock
        where id = #{id} and status = 1;
    </select>
    <insert id="saveStock" parameterType="com.zxn.chain.dto.StockDto">
        insert into stock(id,shop_id,shop_category,shop_supplier,shop_base,start_num,sale_num,safety_stock,remarks)
        values (#{id},#{shopId},#{shopCategory},#{shopSupplier},#{shopBase},#{startNum},#{saleNum},#{safetyStock},#{remarks})
    </insert>
    <update id="updateStock" parameterType="com.zxn.chain.dto.StockDto">
        update stock
        set shop_id = #{shopId},
            shop_category = #{shopCategory},
            shop_supplier = #{shopSupplier},
            shop_base = #{shopBase},
            start_num = #{startNum},
            sale_num = #{saleNum},
            safety_stock = #{safetyStock},
            remarks = #{remarks}
        where id = #{id}
    </update>
    <update id="addSalNum" parameterType="com.zxn.chain.entity.Stock">
        update stock
        set sale_num = sale_num+#{shopQuantity}
        where shop_id = #{shopNum}
    </update>
    <update id="delSalNum" parameterType="com.zxn.chain.entity.Stock">
        update stock
        set sale_num = sale_num-#{shopQuantity}
        where shop_id = #{shopNum}
    </update>
    <select id="getWarnShopName" resultType="java.lang.String">
        select b.shop_name
        from stock a left join shop b on a.shop_id = b.shop_num
        where (a.start_num-a.sale_num)&lt;(a.safety_stock) and  a.status = 1 and b.status = 1;
    </select>
    <select id="getShopSellNum" resultType="java.lang.String">
        select b.shop_name
        from stock a left join shop b on a.shop_id = b.shop_num
        where a.sale_num>100 and  a.status = 1 and b.status = 1;
    </select>
</mapper>

